<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documents</key>
	<string>/documents</string>
	<key>server</key>
	<string>http://192.168.15.11:8080</string>
</dict>
</plist>
